# Bloquear bases de datos y temporales
places.sqlite*
History*
temp_*
*.shm
*.wal
*.txt

# Bloquear archivos de resultados y basura
LISTA_*
PROGRESO_*
Nueva carpeta/

# Python
.env
__pycache__/
config.py
# PERMITIR el ejemplo
!.env.example